@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
body{
    background: #dadada;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    padding: 10px 20px;
    color: #fff;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.nav_country{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
}
.nav_country{
    color: #fff;
    font-size: 14px;
}
.nav_country h2{
    font-size: 20px;
}
.nav_search{
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}
.nav_search_category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border: 4px 0 0 4px;
}
.nav_search_input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}
.nav_search_icon{
    max-width: 48px;
    padding-left: 8px;
    background: #ffd64f;
    border-radius: 0 4px 4px 0;
}
.nav_language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}
.nav_text{
    margin-left: 15px;
}
.nav_text p{
    font-size: 14px;
}
.nav_text h2{
    font-size: 20px;
}
.nav_cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
.nav_cart h4{
    font-size: 20px;
}
.nav_bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: #fff;
    font-size: 15px;
}
.nav_bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}
.header_slider ul{
    display: flex;
    overflow-y: hidden;
}
.header_img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}
.header_slider a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
    background: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.control_next{
        right: 0;
}
.box_row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}
.box_col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background: #fff;
    max-width: 24%;
    min-width: 200px;
    z-index: 1;
}
.box_col a{
    font-size: 13px;
    color: #009999;
    font-weight: 500;
}
.header_box{
    margin-top: -20vw;
}
.products_slide{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}
.products_slide .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}
.products_slide .products img{
    max-width: 200px; 
    max-height: 200px;
}
.products_slide .products::-webkit-scrollbar{
    display: none;
}
.product_slider_with_price{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}
.product_slider_with_price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}
.product_slider_with_price .products::-webkit-scrollbar{
    display: none;
}
.product_card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background: #fbfbfb;
}
.product_card img{
    width: 110px;
    margin: 0 50px;
}
.product_offer p{
    background: #be0b3b;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 8px 0;
    font-size: 13px;
}
.product_offer span{
    color: #be0b3b;
    font-weight: 500;
    font-size: 12px;
}
.product_price{
    color: gray;
    font-size: 13px;
}
.product_card h4{
    color: #525252;
    font-size: 15px;
    font-weight: 400;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #131921;
    color: #fff;
    padding: 20px 60px;
}