/* .div{
    height: 200px;
    width: 200px;
    border: 3px solid rgb(255, 0, 0);
    transition: all 0.4s ease;
}
body{
    background-color: antiquewhite;
} */
/* #search{
    width: 80px;

} */

#textbox {
    width:100px;
    transition: 0.5s;
}

#textbox:focus {
    width:150px;
    transition: 0.5s;
}